/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.btn {
	position: relative;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 auto;
	padding: 10px 40px;
	background-color: #FF9751;
	border-radius: 6px;
	border: 1px solid #FF9751;
	color: white;
	text-decoration: none;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	vertical-align: middle;
}

.btn:hover {
	background-color: white;
	border-color: #FF9751;
	color: #FF9751;
}

.btn.btn-purple {
	background-color: #924CCC;
	border-color: #924CCC;
	color: white;
}

.btn.btn-purple:hover {
	background-color: #FF9751;
	border-color: #FF9751;
}