/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.cards {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding-bottom: 40px;
}

.card {
	margin: 15px 10px 10px;
	padding: 40px 30px;
	width: 100%;
	max-width: 80%;
	background: white;
	text-align: center;
	-webkit-box-shadow: 1px 5px 8px #B2BBC6;
	        box-shadow: 1px 5px 8px #B2BBC6;
}

@media all and (min-width: 600px) {
	.card {
		max-width: 70%;
	}
}

@media all and (min-width: 800px) {
	.card {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 45%;
		        flex: 0 1 45%;
	}
}

@media all and (min-width: 1200px) {
	.card {
		-webkit-box-flex: 0;
		    -ms-flex: 0 1 30%;
		        flex: 0 1 30%;
	}
}