footer {
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: white;
	box-shadow: 0px -3px 6px #00000029;
}

footer .row .column {
	text-align: center;
}

footer .row:last-of-type .column:first-of-type {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
}

footer .row:last-of-type .column {
	padding: 10px 30px;
}

footer a {
	color: #09081D;
	text-decoration: none;
}

footer .social svg {
	width: 30px;
	height: 30px;
	margin-right: 5px;
}

footer .copyright {
	font-size: 14px;
	color: #7E7E7E;
}

@media all and (min-width: 800px) {
	footer .row:first-of-type {
		justify-content: center;
	}

	footer .row:first-of-type .column {
		max-width: 740px;
	}

	footer .row:last-of-type {
		flex-direction: column;
	}
}

@media all and (min-width: 1200px) {
	footer .row:last-of-type {
		flex-direction: row;
		justify-content: space-around;
	}

	footer .row:last-of-type .column:nth-of-type(1) {
		order: 2;
	}

	footer .row:last-of-type .column:nth-of-type(2) {
		order: 1;
	}

	footer .row:last-of-type .column:nth-of-type(3) {
		order: 3;
	}
}