/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

footer {
	padding: 55px 0;
	background-color: #582c7f;
	color: #EFE9F4;
	font-size: 14px;
}

footer img.logo {
	display: block;
	max-width: 102px;
	margin-bottom: 22px;
}

footer h3 {
	color: white;
	font-size: 14px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 2.63px;
}

footer p {
	margin: 10px 0;
	color: #ffffff;
	opacity: 0.6;
}

footer a {
	color: #ffffff;
	text-decoration: none;
}

footer .social {
	margin-top: 30px;
}

footer .social a {
    background: #fff;
    border-radius: 50%;
    color: #572d7f;
    margin-right: 10px;
    padding: 5px 2px;
    text-align: center;
}

footer .social a em {
    height: 30px;
    width: 30px;
}

footer .social a:hover{
    color: #07020c;
    opacity: 0.6;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

footer .row:first-of-type .column:first-of-type p {
	line-height: 26px;
}

footer .row.copyright .column {
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
}

footer .row.copyright .column:last-of-type {
	opacity: 0.6;
}

@media all and (min-width: 800px) {
	footer .row {
		display: block;
	}
}

@media all and (min-width: 1000px) {
	footer .row {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-align: flex-start;
		-ms-flex-align: flex-start;
		align-items: flex-start;
	}

	footer .row:first-of-type .column {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 17%;
		flex: 0 0 17%;
	}

	footer .row:first-of-type .column:first-of-type {
		-webkit-box-flex: 1;
		-ms-flex: 1 0 40%;
		flex: 1 0 40%;
		padding-right: 5%;
	}

	footer .row:first-of-type .column:last-of-type {
		-webkit-box-flex: 1;
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
	}

	footer img.logo {
		max-width: 118px;
	}

	footer h3 {
		margin-top: 30px;
	}

	footer .row.copyright .column:last-of-type {
		text-align: right;
	}
}