/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

footer {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #5A2E8A;
	color: #EFE9F4;
	font-size: 14px;
}

footer .row:first-of-type .column {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 22%;
	flex: 0 0 22%;
}

footer .row:first-of-type .column:first-of-type {
	-webkit-box-flex: 1;
	-ms-flex: 1 0 34%;
	flex: 1 0 34%;
}

footer img.logo {
	display: block;
	max-width: 102px;
	margin-bottom: 22px;
}

footer h3 {
	color: white;
	font-size: 16px;
	font-weight: normal;
	text-transform: uppercase;
}

footer p {
	margin: 5px 0;
}

footer a {
	color: #EFE9F4;
	text-decoration: none;
}

footer .social {
	margin-top: 30px;
}

footer .social svg {
	width: 30px;
	height: 30px;
	margin-right: 5px;
}

footer .row.copyright .column {
	padding-top: 10px;
	padding-bottom: 10px;
}

@media all and (min-width: 800px) {
	footer .row {
		-webkit-box-align: flex-start;
		-ms-flex-align: flex-start;
		align-items: flex-start;
	}

	footer img.logo {
		max-width: 118px;
	}

	footer h3 {
		margin-top: 30px;
	}

	footer .row.copyright .column:last-of-type {
		text-align: right;
	}
}