/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body.landing header {
	margin-bottom: 50px;
	padding-left: 15px;
	padding-right: 15px;
}

body.landing h1 {
	font-size: 30px;
}

body.landing section {
	margin-bottom: 50px;
}

body.landing img {
	display: block;
	margin: 0 auto;
}

/*Form*/
form.form-card {
	padding: 40px 30px;
	width: 100%;
	background: white;
	-webkit-box-shadow: 1px 5px 8px #B2BBC6;
	        box-shadow: 1px 5px 8px #B2BBC6;
	border-radius: 12px;
}

form.form-card h3 {
	font-size: 24px;
	margin-bottom: 5px;
}

form.form-card p {
	margin-top: 0;
	color: #B8C0CA;
}

form.form-card input[type='text'], form.form-card input[type='email'] {
	width: 100%;
	margin-bottom: 15px;
}

form.form-card .checkbox-wrapper {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 15px;
	color: #B8C0CA;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

form.form-card .checkbox-wrapper input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

form.form-card .checkbox {
	position: absolute;
	top: 0;
	left: 0;
	height: 22px;
	width: 22px;
	border-radius: 3px;
	background-color: #B8C0CA;
}

form.form-card .checkbox-wrapper:hover input ~ .checkbox {
	background-color: #B8C0CA;
}

form.form-card .checkbox-wrapper input:checked ~ .checkbox {
	background-color: #5A2E8A;
}

form.form-card .checkbox:after {
	content: "";
	position: absolute;
	display: none;
}

form.form-card .checkbox-wrapper input:checked ~ .checkbox:after {
	display: block;
}

form.form-card .checkbox-wrapper .checkbox:after {
	left: 7px;
	top: 3px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

form.form-card .btn {
	display: block;
	text-align: center;
}