.nav {
  position: absolute;
  top: 0;
  width: 100%;
  background: white;
  box-shadow: 0px 3px 6px #00000029;
  z-index: 100;
}

.nav ul {
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.nav li {
  padding: 15px 25px;
}

.nav a {
  color: #B2BBC6;
  text-decoration: none;
}

.nav .toggle a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .toggle svg {
  width: 35px;
  height: 35px;
  fill: #5A2E8A;
}

.nav .toggle svg.toggle-close {
  display: none;
}

.nav .logo img {
  display: block;
  max-width: 102px;
}

.nav .item {
  display: none;
  width: 100%;
  background-color: white;
  border-top: 2px solid #EFE9F4;
}

.nav .item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .item .btn {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
}

.nav .item .btn:hover {
  color: #FF9751;
}

@media all and (min-width: 768px) {

  .nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .nav li {
    padding: 15px 5px;
  }

  .nav a {
    color: #B2BBC6;
  }

  .nav .toggle {
    display: none;
  }

  .nav .logo img {
     max-width: 118px;
     margin-right: 50px;
  }

  .nav .item {
    display: block;
    padding-left: 25px;
    padding-right: 25px;
    width: auto;
    background-color: inherit;
    border-top: inherit;
    text-align: center;
  }

  .nav .login {
    display: flex;
    justify-content: flex-end;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    padding-right: inherit;
  }
}