/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.nav {
  position: fixed;
  top: 0;
  padding: 15px 0;
  width: 100%;
  background: white;
  z-index: 100;
}

.nav.scroll {
  -webkit-box-shadow: 0 7px 13px 0 rgba(0,0,0,0.04);
          box-shadow: 0 7px 13px 0 rgba(0,0,0,0.04);
}

.nav ul {
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav li {
  padding: 15px 25px;
}

.nav .toggle a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav .toggle a:after {
  display: none;
}

.nav .toggle svg {
  width: 35px;
  height: 35px;
  fill: #5A2E8A;
}

.nav .toggle svg.toggle-close {
  display: none;
}

.nav .logo img {
  display: block;
  max-width: 118px;
}

.nav .item {
  display: none;
  width: 100%;
  background-color: white;
}

.nav .item a {
  position: relative;
  padding: 5px 15px;
  color: black;
  text-decoration: none;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.nav .item a:hover{
  color: #640e9b;
}

.nav .item a:after {
  position: absolute;
  border-bottom: 2px solid #640e9b;
  bottom: 0;
  content: '';
  left: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  width: 0;
}

.nav .item a:hover:after {
  width: 100%;
}

.nav .item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .item .btn {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 16px 32px;
}

.nav .item .btn:after {
  display: none;
}

@media all and (min-width: 1000px) {
  .nav ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .nav li {
    padding: 15px 5px;
  }

  .nav .toggle {
    display: none;
  }

  .nav .logo {
    margin-right: auto;
  }

  .nav .item {
    display: block;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    background-color: inherit;
    border-top: inherit;
    text-align: center;
  }

  .nav .item a {
    padding: 15px;
  }

  .nav .register {
    padding-right: inherit;
  }
}