/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.nav {
  position: absolute;
  top: 0;
  width: 100%;
  background: white;
  z-index: 100;
}

.nav ul {
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav li {
  padding: 15px 25px;
}

.nav a {
  color: black;
  text-decoration: none;
}

.nav .toggle a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav .toggle svg {
  width: 35px;
  height: 35px;
  fill: #5A2E8A;
}

.nav .toggle svg.toggle-close {
  display: none;
}

.nav .logo img {
  display: block;
  max-width: 102px;
}

.nav .item {
  display: none;
  width: 100%;
  background-color: white;
  border-top: 2px solid #EFE9F4;
}

.nav .item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .item .btn {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media all and (min-width: 800px) {
  .nav ul {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .nav li {
    padding: 15px 5px;
  }

  .nav .toggle {
    display: none;
  }

  .nav .logo {
    margin-right: auto;
  }

  .nav .logo img {
    max-width: 118px;
  }

 .nav .item {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
    background-color: inherit;
    border-top: inherit;
    text-align: center;
  }

  .nav .login {
    padding-right: inherit;
  }
}