/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face {
	font-family: "GT-Walsheim";
	src: url('../font/gt-walsheim-pro-bold-webfont.woff2') format('woff2'),
	url('../font/gt-walsheim-pro-bold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GT-Walsheim";
	src: url('../font/gt-walsheim-pro-medium-webfont.woff2') format('woff2'),
	url('../font/gt-walsheim-pro-medium-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "GT-Walsheim";
	src: url('../font/gt-walsheim-pro-regular-webfont.woff2') format('woff2'),
	url('../font/gt-walsheim-pro-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	margin: 0;
	padding: 107px 0 0 0;
	font-family: 'GT-Walsheim', 'Overpass', sans-serif;
	font-size: 16px;
    font-weight: normal;
    font-style: normal;
	line-height: 1.5;
}

body.modal-open {
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	color: #5A2E8A;
	font-weight: 900;
	line-height: 1.2;
}

h1 {
	color: black;
	font-size: 40px;
}

img {
	max-width: 100%;
}

.text-center {
    text-align: center;
}

.text-right {
	text-align: right;
}

.text-large {
	font-size: 22px;
}

.text-white {
	color: white;
}

.text-grey {
	color: #B8C0CA;
}

.text-purple {
	color: #5A2E8A;
}

.text-purple-light {
	color: #EFE9F4;
}

@media all and (min-width: 800px) {
	body {
		padding: 115px 0 0 0;
	}

	h2.text-tablet-left {
		text-align: left;
	}

	img.map {
		max-width: 80%;
	}
}