@font-face {
    font-family: 'Avenir LT Std';
    src: url('../font/AvenirLTStd-Book.woff2') format('woff2'),
        url('../font/AvenirLTStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../font/AvenirLTStd-Black.woff2') format('woff2'),
        url('../font/AvenirLTStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('../font/AvenirLTStd-Roman.woff2') format('woff2'),
        url('../font/AvenirLTStd-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
	margin: 0;
	padding: 70px 0 0 0;
    font-family: 'Avenir LT Std';
    font-weight: normal;
    font-style: normal;
	line-height: 1.6;
}

body.modal-open {
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;
	color: #5A2E8A;
	font-weight: 900;
	line-height: 1.2;
}

img {
	max-width: 100%;
}

.text-center {
    text-align: center;
}

.text-right {
	text-align: right;
}

.text-large {
	font-size: 22px;
}

.text-grey {
	color: #B8C0CA;
}

.text-purple {
	color: #5A2E8A;
}

@media all and (min-width: 800px) {
	body {
		padding: 74px 0 0 0;
	}

	h2.text-tablet-left {
		text-align: left;
	}

	img.map {
		max-width: 80%;
	}
}